.container {
    margin-bottom: 200px;
}
.background {
    margin: 0 auto;
    background-color: slategray;
}
.translate {
    width: 150px;
    height: 150px;
    background: orange;
    line-height: 150px;
    text-align: center;
}
.translateXY {

}

.translateX {

}

.translateY {

}
.translateZ {
    margin: 0 auto;

}

.translate3D {

}

.rotate {
    width: 150px;
    height: 150px;
    background: lightseagreen;
    line-height: 150px;
    text-align: center;
    margin: 0 auto;
}

.rotateX {

}

.rotateY {

}
.rotateZ {

}


@keyframes rotX {

}

@keyframes rotY {

}

@keyframes rotZ {

}

.scale {
    width: 150px;
    height: 150px;
    background: darkkhaki;
    line-height: 150px;
    text-align: center;
    margin: 0 auto;
}

.scaleX {

}

.scaleY {

}
.scaleXY {
    margin: 50px auto;

}


@keyframes scaleX {

}

@keyframes scaleY {

}

@keyframes scaleXY {

}